---
layout: page
title: RP Log Index
rp_index: true
---

{% if page['rps']['canon'].size > 0 then %}
<h2>Canon</h2>
<ul class="rp-list">
{% for rp in page['rps']['canon'] %}
  <li>
    <h4 class="rp-title"><a href="{{ site.baseurl }}{{ rp.url }}">{{ rp.title }}</a>
      {% unless rp.complete %}<small>[INCOMPLETE]</small>{% endunless %}
    </h4>
  {% for t in rp.rp_tags %}
    <span class="rp-tag">[{{ t }}]</span>
  {% endfor %}
  </li>
{% endfor %}
</ul>
{% endif %}

{% if page['rps']['noncanon'].size > 0 %}
<h2>Non-Canon</h2>
<ul class="rp-list">
  {% for rp in page['rps']['noncanon'] %}
    <li>
      <h4 class="rp-title"><a href="{{ site.baseurl }}{{ rp.url }}">{{ rp.title }}</a>
      {% unless rp.complete %}<small>[INCOMPLETE]</small>{% endunless %}
      </h4>
    {% for t in rp.rp_tags %}
      <span class="rp-tag">[{{ t }}]</span>
    {% endfor %}
    </li>
  {% endfor %}
</ul>
{% endif %}