<li>
  <div class="rp-entry-container">
    <a class="rp-entry" href="{{ site.baseurl }}{{ include.rp.url }}">
      <h4 class="rp-title">{{ include.rp.title }}</h4>
    </a>
    <div class="rp-metadata-container">
      {% if include.rp.complete %}
        <span class="rp-completion rp-complete fa fa-check" title="Complete"></span>
      {% else %} 
        <span class="rp-completion rp-incomplete fa fa-times" title="Incomplete"></span>
      {% endif %}
      <span class="rp-start-date">{{ include.rp.start_date | date: "%F" }} &mdash;</span>
      <span class="rp-end-date">{{ include.rp.end_date | date: "%F" }}</span>
    </div>
  </div>
  {% for t in include.rp.rp_tags %}
    <a href="{{ site.baseurl }}{{ site.rp_tag_dir }}/{{ t.dir }}" class="rp-tag {{t.classes}}">{{ t.name }}</a>
  {% endfor %}
</li>