#log {
	/*white-space: pre-wrap;*/
	/*width: auto;*/
	background-color: #222;
	padding: 5px;
	width: 80%;	
	margin-left: 30px;
}

/* Undo normal pre styles */
#log pre {
	white-space: pre-wrap;
	width: auto;
	background: auto;
	padding: 0;
}

#log p, #log pre {
	margin: 0;
	margin-top: 0.5em;
}

#log .rp { color: #DCDCCC; }
#log .ooc { color: #777; }

#ooc_label {
	background: #222;
	display: block;
	margin-left: -80px;
	padding: 5px 10px 5px 5px;
	position: fixed;
}
#ooc_toggle {
	vertical-align: middle;
}