
/* Undo normal pre styles */
#log {

    p {
        margin: 0;
        margin-top: 0.5em;
    }

    .rp { color: #DCDCCC; }
    .ooc { 
        color: #777;
        white-space: pre-wrap;
        font-family: monospace;
        font-size: 80%;
    }
}

#ooc_label {
    background: #222;
    display: block;
    margin-left: -80px;
    padding: 5px 10px 5px 5px;
    position: fixed;
}

#ooc_toggle {
    vertical-align: middle;
}