---
layout: page
---

<p class="tag-description">{{ page["description"] }}
{% if page["description"] %}<br />{% endif %}
There are {{ page["count"] }} {{ page["title"]}}.
{% if page['implies'].size > 0 %}
<br />Tag implies:
      {% for t in page["implies"] %}
         {% if t.name  %}
           <a href="{{ base }}{{ site.rp_tag_dir }}/{{ t.dir }}" class="rp-tag {{t.classes}}">{{ t.name }}</a>
         {% else %}
           <a class="rp-tag general">{{ t }}</a>
         {% endif %}
      {% endfor %}
{% endif %}
{% if page['implied_by'].size > 0 %}
<br />Tag is implied by:
      {% for t in page["implied_by"] %}
         {% if t.name  %}
           <a href="{{ base }}{{ site.rp_tag_dir }}/{{ t.dir }}" class="rp-tag {{t.classes}}">{{ t.name }}</a>
         {% else %}
           <a class="rp-tag general">{{ t }}</a>
         {% endif %}
      {% endfor %}
{% endif %}
{% if page['aliased_by'].size > 0 %}
<br />Tag is aliased by:
      {% for t in page["aliased_by"] %}
        <a class="rp-tag general">{{ t }}</a>
      {% endfor %}
{% endif %}
</p>
{% if page["tag"].stats.lines > 0 %}
  <p class="stats">
  {{page["tag"].name}} said a total of <b>{{page["tag"].stats.lines}} line{% if page["tag"].stats.lines > 1 %}s{%endif%}, {{page["tag"].stats.wordcount}} words, and {{page["tag"].stats.characters}} characters.</b> <br />
  {{page["tag"].name}}'s average line consists of<b> {{page["tag"].stats.wordcount | divided_by: page["tag"].stats.lines | round: 2}} words</b> that themselves average <b>{{page["tag"].stats.characters | minus: page["tag"].stats.wordcount | divided_by: page["tag"].stats.wordcount | round: 2}} characters{% if page["tag"].stats.timelines > 0 %}</b> taking about<b> {{page["tag"].stats.time | divided_by: page["tag"].stats.timelines | divided_by: 60 | floor}} minutes, {{page["tag"].stats.time | divided_by: page["tag"].stats.timelines | modulo: 60 }} seconds{% endif %}.</b> <br />
  </p > {% endif %}


      {% for t in page.rp_tags %}
        <a href="{{ base }}{{ site.rp_tag_dir }}/{{ t.dir }}" class="rp-tag {{t.classes}}">{{ t.name }}</a>
      {% endfor %}


<ul class="rp-list">
{% for rp in page.pages %}
  {% include rp.html rp=rp %}
{% endfor %}
</ul>
