/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        // color: darken($brand-color, 15%);
        color: $link-visited;
    }

    &:hover {
        color: $link-hover;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



/**
 * Tag Cloud Stuff
 */
/** 
 * Tag Cloud Stuff
 */ 
.tag_group_1 {
    font-size: 100%;
    font-weight: lighter;
    color: darken($brand-color,15%);
    &:visited {
        color: darken($link-visited,15%);
    }
}
.tag_group_2 {
    font-size: 125%;
    font-weight: bold;
}       
.tag_group_3 {
    font-size: 150%;
    font-weight: lighter;
    color: desaturate(darken($brand-color,10%),10%);
    &:visited {
        color: darken(desaturate($link-visited,10%),10%);
    }
}       
.tag_group_4 {
    font-size: 175%;
    font-weight: bold;
    color: saturate(lighten($brand-color,10%),10%);
    &:visited {
        color: saturate(lighten($link-visited,10%),10%);
    }
}
.tag_group_5 {
    font-size: 200%;
    font-weight: lighter;
    color: saturate($brand-color,10%);
    &:visited {
        color: saturate($link-visited,10%);
    }
}   
.tag_group_6 {
    font-size: 225%;
    font-weight: bold;
    color: desaturate($brand-color,10%);
    &:visited {
        color: desaturate($link-visited,10%);
    }
}   
.tag_group_7 {
    font-size: 250%;
    font-weight: lighter;
    color: saturate(darken($brand-color,10%),10%);
    &:visited {
        color: saturate(darken($link-visited,10%),10%);
    }
}   
.tag_group_8 {
    font-size: 275%;
    font-weight: bold;
    color: desaturate(lighten($brand-color,10%),10%);
    &:visited {
        color: desaturate(lighten($link-visited,10%),10%);
    }
}
.tag_group_9 {
    font-size: 300%;
    font-weight: lighter;
    color: darken($brand-color,10%);
    &:visited {
        color: darken($link-visited,10%);
    }
}   
.tag_group_10 {
    font-size: 325%;
    font-weight: bold;
    color: lighten($brand-color,10%);
    &:visited {
        color: lighten($link-visited,10%);
    }
}  .tagwrapper {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center
}
.tag-list {
   line-height: .85;
}
