---
layout: page
title: RP Log Index
permalink: /
rp_index: true
---

{% if page['rps']['canon'].size > 0 then %}
<h2>Canon</h2>
<ul>
{% for rp in page['rps']['canon'] %}
  <li>
    <h4><a href="{{ site.baseurl }}{{ rp.url }}">{{ rp.title }}</a>
    {% unless rp.complete %}<small>[INCOMPLETE]</small>{% endunless %}
    </h4>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if page['rps']['noncanon'].size > 0 %}
<h2>Non-Canon</h2>
<ul>
  {% for rp in page['rps']['noncanon'] %}
    <li>
      <h4><a href="{{ site.baseurl }}{{ rp.url }}">{{ rp.title }}</a>
      {% unless rp.complete %}<small>[INCOMPLETE]</small>{% endunless %}
      </h4>
    </li>
  {% endfor %}
</ul>
{% endif %}